@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-user-drag: none;
    user-select: none;
}

.with-fade {
    background-image: url('/chess.png');
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, transparent 100%);
}

.loader div {
    animation: bounce 1s ease-in-out infinite;
}

.loader div:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0.1s;
}
.loader div:nth-child(2) {
    background-color: #f39c12;
    animation-delay: 0.2s;
}
.loader div:nth-child(3) {
    background-color: #27ae60;
    animation-delay: 0.3s;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 3px;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
